{% extends 'layout.html'%}


{% block content%}
    <h1>hello World!</h1>
    <p>
        Sed sit amet aliquet ante, vitae placerat mi. Nullam at ante quis massa tempus dignissim a nec turpis. Aliquam
        sodales lobortis libero convallis viverra. Cras libero tortor, venenatis at pretium non, fermentum in sapien.
        Pellentesque semper arcu porttitor nibh hendrerit posuere. Nulla consequat tristique sapien, eu tempor lectus
        dapibus in. Fusce efficitur dolor rutrum sem viverra aliquam. Morbi fermentum imperdiet vulputate. Vivamus ante
        nibh, eleifend vitae pellentesque eu, pretium ac turpis. Nulla justo sapien, faucibus vel sollicitudin vel, volutpat
        in arcu.
    </p>
    <p>
        Praesent quis auctor turpis. Vestibulum vestibulum lobortis nulla. Etiam vulputate vehicula eros vel malesuada.
        Donec quis varius mi. In mattis ut ex at dictum. Phasellus convallis sem quis odio molestie, vitae placerat lacus
        tristique. Sed tincidunt consectetur metus, nec auctor tortor facilisis eu. Ut lectus tortor, efficitur ut aliquet
        et, euismod sit amet metus. Phasellus eget laoreet enim. Aliquam vehicula ligula ex, at dictum nulla mattis in.
        Vestibulum sed mauris vel risus laoreet semper.
    </p>
    <p>
        Morbi non tortor quis velit iaculis convallis blandit vel ante. Etiam molestie erat id luctus ultrices. Vivamus
        maximus iaculis elit et porta. Vivamus euismod urna non sem viverra iaculis. Nullam eget libero vitae eros porta
        euismod. Aenean ipsum nisi, tincidunt quis nunc id, semper fermentum sapien. Phasellus sodales aliquam sapien ac
        faucibus. Aliquam id commodo sem. Nullam id neque volutpat ipsum porttitor viverra eget eu felis. Vestibulum vitae
        pharetra magna. Aliquam non velit ornare, vehicula risus sit amet, ornare lacus. Nullam dignissim neque in metus
        dignissim maximus. Duis consectetur nisi ullamcorper diam hendrerit ultrices.
    </p>
    <img class="python" src="{{url_for('static',filename='img/python.gif')}}"/>
{% endblock%}