<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/estilos.css')}}" />
        <!--Estilos Boostrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <!--Icono el sitio-->
        <link rel="shorcut icon" href="{{url_for('static', filename='img/icon.ico')}}">
    </head>
    <body>
        <div id="contenedor-general">

            <hr>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/"><img class="logo"src="{{url_for('static', filename='img/ai.png')}}"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{url_for('mostrar')}}">Mostrar</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{url_for('insertar')}}">Insertar</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{url_for('actualizar')}}">Actualizar</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{url_for('eliminar')}}">Eliminar</a>
                      </li>
                    </ul>
                    <form method="POST" action="{{ url_for('buscar')}}" class="d-flex">
                      <input name="buscar" class="form-control me-2" type="search" placeholder="Buscar usuario por nombre" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
              <hr>
            {% block content%}

            {%endblock %}
            <footer>
                <p>
                    Realizado por &copy;Ricardo Rodriguez 2021
                </p>
            </footer>
        </div>
    </body>
</html>